**/.git
**/.svn
**/.hg
**/node_modules

**/.prettierrc
**/.eslintrc
**/.babelrc
**/package.json
**/package-lock.json
**/yarn.lock
**/yarn-integrity
**/yarn-error.log
**/yarn-debug.log
**/tsconfig.json
**/tsconfig.build.json
**/tsconfig.build.tsbuildinfo
**/tsconfig.tsbuildinfo
**/eslint.**